// HOME
// IMPORTS
@import 'vars';
@import 'utils/mixins';

// Resets
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  font-family: $font;
  color: $fontDark;
  background-color: $bgColor;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

main,
li {
    display: block;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

ul {
  list-style: none;
  margin: 0;
}

.main-wrapper {
  max-width: $desktop;
  margin: 0 auto;
}

.full-width-bar {
  margin: 0 -9999px;
  padding: 0 9999px;
}

// Hide fallback input
#menu-toggle, #search-toggle { display: none; }

// Main Styles
nav {
  position: relative;
  #logo {
    position: absolute;
    top: 28px;
    left: 1.5rem;
    width: 41px;
    height: 41px;
    z-index: 1000;
    @media screen and (min-width: $mobile) {
      top: 14px;
      left: 40px;
      width: 82px;
      height: 82px;
    }
  }
}

.menu ul, .topbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: $tablet) {
  .menu ul li {
    margin-left: 5rem;
  }
  .menu ul {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

.topbar {
  background-color: $headerColor1;
  font-size: 1.2rem;
  text-transform: uppercase;

  a, a:hover, a:focus {
    color: #231f20;
  }

  #search {
    position: relative;
    display: block;
    background-color: $accentColor1;
    height: 38px;

    #box {
      position: absolute;
      top:0;
      right: 56px;
      display: block;
      background-color: $accentColor1;
      height: 38px;
      width: 200px;
      padding: 5px;
      vertical-align: top;
      input[type=text] {
        background: linear-gradient(#960314, #79010f);
        box-shadow: 1px 1px #f17b7b, inset 0 2px 4px rgba(0,0,0,0.11);
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        padding: 4px;
        color: white;
        &::placeholder {
          color: white;
        }
      }
    }

    #search-button {
      display: inline-block;
      width: 56px;
      height: 38px;
      img {
        display: block;
        margin: 0 auto;
        margin-top: 7px;
      }
    }
  }
  ul {
    display: flex;
    height: 38px;
  }
  ul li:not(:last-child) {
    margin-right: 5%;
  }
}

// Hide menu/search-box
label {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #nav {
    display: none !important;
  }
}

#box {
  display: none !important;
}

#menu-toggle:checked + #nav {
  display: flex !important;
}

#search-toggle:checked + #box {
  display: block !important;
}

.menu {
  display: flex;
  flex-direction: column;
  background: url('../img/shadow.png') center top repeat-x;
  background-color: $headerColor2;
  font-size: 1.6rem;

  a, a:hover, a:focus {
    color: #231f20;
  }
  ul {
    // margin-left: 120px;
    flex-direction: column;
    li {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  #cart {
    a {
      display: block;
      width: 60px;
      height: 32px;
    }
    img {
      display: block;
      margin: 0 auto;
      padding-top: 8px;
    }
  }

  .menu-icon {
    align-self: center;
    padding: 20px;
  }

  @media screen and (min-width: $tablet) {
    ul {
      display: flex;
      flex-direction: row;
      margin-left: 120px;
    }
    .menu-icon {
      display: none;
    }
    #cart {
      margin-top: 0;
      border-left: 1px solid #cccccc;
      a {
        height: 40px;
        border-left: 1px solid white;
      }
    }
  }
  @media screen and (max-width: $tablet) {
    #nav {
      // display: none;
    }
  }
}

#hero {
  position: relative;
  margin-top: 10px;

  .flexslider {
    position: relative;
    margin-bottom: 0;
    border: 0;
    .slider-arrows {
      position: absolute;
      z-index: 999;
      top: 25%;
      width: 100%;
      transform: translate(0, -50%);
      a {transition: opacity .5s;}
      a:hover {
        opacity: .6;
      }
      .flex-prev, .flex-next {
        display: block;
        position: absolute;
        img {
          width: 32px;
          height: 32px;
        }
      }
      @media screen and (min-width: $mobile) {
        .flex-prev, .flex-next {
          img {
            width: 52px;
            height: 52px;
          }
        }
        top: 40%;
      }
      .flex-prev {left: 30px;}
      .flex-next {right: 30px;}
    }
  }

  .slider-controls {
    position: absolute;
    bottom: 20px;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, 0);
    .flex-control-paging {
      display: inline-block;
      width: auto;
      li {
        box-shadow: 0 3px 5px rgba(0,0,0,.3);
        a {
          background-color: white;
          box-shadow: inset 0 3px 3px rgba(0,0,0,.3);
          &.flex-active {
            background-color: $accentColor1;
          }
        }
      }
      li:not(:last-child) {
        margin-right: 10px;
      }
    }
    @media screen and (min-width: $tablet) {
      position: absolute;
      right: 30px;
      bottom: 10px;
      z-index: 998;
      transform: none;
      left: auto;
    }

    .flex-pauseplay {
      display: inline-block;
      margin-left: 10px;
      filter: drop-shadow(0 3px 3px rgba(0,0,0,.3));
      a {
        opacity: 1;
        position: static;
        color: white;
        &:before {
          font-size: 16px;
        }
        &:hover {
          opacity: .6;
        }
      }
    }
  }
  .flex-control-nav {
    position: static;
    bottom: auto;
    text-align: left;
  }

  .flex-caption {
    background-color: $panelColor1;
    opacity: .95;
    color: $fontLight;
    padding: 10px 20px 50px 20px;
    a {
      text-decoration: none;
    }
    h3 {
      font-size: 2.6rem;
      font-weight: 200;
    }
    @media screen and (min-width: $tablet) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-right: 200px;
      padding-bottom: 20px;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;

  article {
    width: 100%;
    padding: 20px;

    @media screen and (min-width: $mobile) {width: 50%;}
    @media screen and (min-width: $tablet) {width: 33.333333%;}

    .thumb {
      background-color: #000;
      width: 80px;
      height: 80px;
      align-items: stretch;
    }

    .thumb-cal {
      background: url('../img/box.png') center center no-repeat;
      background-size: cover;
      width: 90px;
      height: 90px;
      flex-basis: 90px;
      flex-shrink: 0;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      .month {font-size: 1rem; margin-top: 14px;}
      .day {font-size: 3rem;}
    }

    .meta {
      font-size: 1rem;
      margin-left: 1rem;
      color: lighten($fontDark, 30%);
    }

    .view-more {
      display: block;
      padding: 1rem 0;
      line-height: 25px;
      img { vertical-align: middle; margin-left: 5px;}
    }

    .body {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    // headers
    h3 {
      font-size: 2.6rem;
      font-weight: 200;
      margin-bottom: 10px;
    }
    h4 {
      font-weight: 400;
    }

    // date header
    p {
      font-weight: 400;
    }

    a {
      font-size: 1.6rem;
      &:hover {text-decoration: underline;}
    }
    ul li {
      display: flex;
      padding: 1rem 0;
      a {
        flex-basis: 80px;
        flex-shrink: 0;
      }
      a > .thumb-cal {
        color: $fontDark;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $seperatorColor1;
      }

      // Nie jestem pewien czy o to chodzilo czy o podkreslenie textu a:hover ->
      &:first-child .meta .title {
        border-bottom: 1px solid #999999

      }
    }

    &#research {
      background-color: white;
      a {color: $linkColor1;}

    }

    &#events {
      background-color: $panelColor1;

      h3 {color: $fontLight;}

      a {color: $linkColor2;}

      .meta {color: $fontLight;}
    }

    &#strategist {
      background-color: white;
      a {color: $linkColor1;}
    }

    &#opinions {
      background-color: $panelColor2;

      a {color: $linkColor1;}
      ul li {
        background: url('../img/list-bullet.png') left top no-repeat;
        background-position: 0 15px;
      }
    }

    &#ad {
      position: relative;
      min-height: 400px;
      background: url('../img/picture.png') center center no-repeat;
      background-size: cover;
      .header {
        position: absolute;
        left: 0;
        top: 50%;
        padding: 10px;
        max-width: 170px;
        color: $fontLight;
        font-weight: 200;
        background-color: $accentColor1;
        text-transform: uppercase;
        transform: translate(0, -50%);
        h3 {
          font-size: 2.2rem;
          margin-bottom: 0;
        }
      }
      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: $fontLight;
        line-height: 25px;
        padding: 10px;
        text-align: center;
        background-color: #000;
        border-top: 4px solid $accentColor1;

        a {font-size: 1.8rem;}
        img {vertical-align: middle; margin-left: 5px;}
      }
    }

    &#tweets {
      background-color: $panelColor3;
      line-height: 1.5rem;
      a {
        font-size: inherit;
        color: $accentColor1;
        font-weight: 600;
      }
      .user {font-weight: 600;}

      .time {text-align: right;}
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border-top: 3px solid #cccccc;
  background-color: white;
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  ul {
    display: flex;
    flex-direction: row;
  }
  .sitemap {
    @media screen and (max-width: $tablet) {
      padding-bottom: 20px;
    }
  }

  .sitemap > ul, .social > ul {
    justify-content: center;
  }
  .sitemap > ul {
    a {
      font-size: 1.1rem;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    li:not(:last-child) {
      margin-right: 33px;
    }
    @media screen and (min-width: $tablet) {
      justify-content: flex-start;
    }
  }
  .social > ul {
    li:not(:first-child) {
      margin-left: 7px;
    }
    @media screen and (min-width: $tablet) {
      justify-content: flex-end;
    }
  }

  .social-icon {
    display: block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

.spacer {
  background-color: $spacerColor1;
  min-height: 108px;
}

.link-arrow {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-left: 6px;
}

.hidden {
  display: none !important;
}
